@model IEnumerable<tblActivities>;

<div class="card-body">
    <div class="card text-center o-hidden shadow-lg" style="margin-top: 44px;">
        <div class="row">
            

            @{ var i = 1;
                foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div>
                            <div class="card-body  ">
                                <div class="bg-secondary card-header" style="color:white">@item.ActivityName</div>
                                <div class="card-body">Register Start Date <br />@item.RegisterStartDate.Value.ToString("yyyy/MMMM/dd")</div>
                                <div class="card-body">Register End Date <br />@item.RegisterEndDate.Value.ToString("yyyy/MMMM/dd")</div>
                                <div class="card-footer bg-light"><a class="btn btn-outline-info" asp-controller="Student" asp-action="Registration" asp-route-id=@item.GuId>Register</a></div>
                            </div>
                        </div>
                    </div>


                    i++;
                } }
        </div>
    </div>
</div>

