@{
    ViewData["Title"] = "Home Page";
}
<div class="card-body">
    <form asp-action="Index">
        <div class="row">
            <div class="col-md-4">
                <input class="form-control" type="text" value="@ViewBag.UaerName" name="UserName"/>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                <input class="form-control" type="number" value="@ViewData["Password"]" name="Passowrd"/>
                <button type="submit" class="btn btn-outline-primary">Primary</button>
            </div>
            
        </div>
   
    </form>
</div>