@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@model ActivitySystem.Models.tblUsers
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Verification Email</title>
    <script>
                @{
                if (@ViewData["Successful"] != null)
                {
                    <Text>
                    var result = '@Html.Raw(ViewData["Successful"])';
                    Swal.fire(result,'','success')
                    </Text>
                }
                else if (@ViewData["Falied"] != null && ViewData["NoRedirect"] != null)
                {
                    <Text>
                    var result = '@Html.Raw(ViewData["Falied"])';
                    Swal.fire(result, '', 'error')
                    </Text>
                    }

            }
    </script>

</head>
<body>
    <div class="container">
        <div id="v-card" class="row justify-content-center" style="margin-top: 124px;">
            <div class="card o-hidden border-0 shadow-lg my-5 col-xl-7 col-lg-7 col-md-7">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="p-5">
                                <h1 class="text-center h4 text-gray-900 mb-4" style="font-size: 120%;">Email Verification</h1>
                                <form asp-action="EmailCheck">
                                    <div id="email-form-group" class="form-group">
                                        <h1 class="text-center h4 text-gray-600 mb-4" style="font-size: 12px;">Enter your KFU email</h1>
                                        <input name="email" id="email" type="email" class="text-center form-control" placeholder="id@kfu.edu.sa">
                                        <button type="submit" id="send-btn" class="btn btn-dark" style="margin-left: 130px; margin-top: 20px;">send</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>