@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@model ActivitySystem.Models.tblUsers;
<head>
    <title>Login</title>
    <script>
    @{
        if (@ViewData["Falied"] != null)
        {
            <Text>
            var result = '@Html.Raw(ViewData["Falied"])';
            Swal.fire(result, '', 'error')
            </Text>
        }
    }
    </script>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">


            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h2 class="text-center font-weight-light my-4">Welcome to Activity System</h2></div>
                    <div class="card-body">
                        <form asp-action="LogIn" id="form">
                            <div class="form-floating mb-3">
                                <input class="form-control" type="email" placeholder="name@example.com" asp-for="KfuEmail" />
                                <label for="inputEmail">Email address</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" type="Password" placeholder="Password" asp-for="Password" />
                                <label for="inputPassword">Password</label>
                            </div>
                            <div class="row">
                                @if (ViewData["Login_error"] != null)
                                {
                                    <p style="color:red;">Incorrect Password or Email</p>
                                }
                                @if (ViewData["NotAutherozied"] != null)
                                    {
                                        <p style="color:red;">@ViewData["NotAutherozied"]</p>
                                    }
                            </div>
                            <div class="form-floating mb-3">
                                <button type="submit" class="btn btn-dark btn-search" onclick="return Valdation()"> Login </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="small"><a asp-action="VerifyAccount">Activate Email by KFU Email</a></div>
                        <div class="small"><a asp-action="EmailCheck">Forgat Password</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
